# Task 1

In [ ]:
#1.)Install Jupyter notebook and run the first program and share the screenshot of the output.

In [35]:
a=2
b=3
c=a+b
print(c)

5

In [2]:
#2.)#Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#comma-separated sequence on a single line.

In [3]:
b=[]
for i in range(2000,3201):
    if i % 7==0:
        b.append(i)

In [4]:
b

[2002,
 2009,
 2016,
 2023,
 2030,
 2037,
 2044,
 2051,
 2058,
 2065,
 2072,
 2079,
 2086,
 2093,
 2100,
 2107,
 2114,
 2121,
 2128,
 2135,
 2142,
 2149,
 2156,
 2163,
 2170,
 2177,
 2184,
 2191,
 2198,
 2205,
 2212,
 2219,
 2226,
 2233,
 2240,
 2247,
 2254,
 2261,
 2268,
 2275,
 2282,
 2289,
 2296,
 2303,
 2310,
 2317,
 2324,
 2331,
 2338,
 2345,
 2352,
 2359,
 2366,
 2373,
 2380,
 2387,
 2394,
 2401,
 2408,
 2415,
 2422,
 2429,
 2436,
 2443,
 2450,
 2457,
 2464,
 2471,
 2478,
 2485,
 2492,
 2499,
 2506,
 2513,
 2520,
 2527,
 2534,
 2541,
 2548,
 2555,
 2562,
 2569,
 2576,
 2583,
 2590,
 2597,
 2604,
 2611,
 2618,
 2625,
 2632,
 2639,
 2646,
 2653,
 2660,
 2667,
 2674,
 2681,
 2688,
 2695,
 2702,
 2709,
 2716,
 2723,
 2730,
 2737,
 2744,
 2751,
 2758,
 2765,
 2772,
 2779,
 2786,
 2793,
 2800,
 2807,
 2814,
 2821,
 2828,
 2835,
 2842,
 2849,
 2856,
 2863,
 2870,
 2877,
 2884,
 2891,
 2898,
 2905,
 2912,
 2919,
 2926,
 2933,
 2940,
 2947,
 2954,
 2961,
 2968,
 2975,
 2982,
 2989,
 2996,
 3003,
 3010,
 3017,
 3024,
 3031,
 3038,
 3045,
 3052,
 3059,
 3066,
 3073,
 3080,
 3087,
 3094,
 3101,
 3108,
 3115,
 3122,
 3129,
 3136,
 3143,
 3150,
 3157,
 3164,
 3171,
 3178,
 3185,
 3192,
 3199]

In [5]:
#3.)
#Write a Python program to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name.

In [6]:
a=input("enter the first name:")
b=input("enter the second name:")
c= b+" "+a
print(c)

enter the first name:teja
enter the second name:ravi
ravi teja

In [7]:
#d=a[::-1]+" "+b[::-1]
#print(d)

ajet ivar

In [ ]:
#4.)Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * Ï€ * r3

In [10]:
import numpy as np
r=12
v=4/3 * np.pi * (r*3)
print(v)

150.79644737231007

# Task 2

In [ ]:
1.)#Write a program which accepts a sequence of comma-separated numbers from console and
#generate a list.

In [11]:
a =input('enter the numbers :')
b=list(a)
b

enter the numbers :12345

['1', '2', '3', '4', '5']

In [ ]:
#2.)Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
n=6
c=5
d=0
for i in range(n):
    a=i * ' *'
    print(a)
c=5
d=4
for k in range(0,d):
    b= d * ' *'
    d=d-1
    print(b)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [ ]:

#3.)#Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [34]:
n =input("Enter the input word:")
a=n[::-1]
a

Enter the input word:AcadGild

'dliGdacA'

In [ ]:
#4.)Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [33]:
print("WE, THE PEOPLE OF INDIA,{}having solemly resolved to constitute India into a SOVEREIGN,{}{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens".format("\n","!","\n","\n","\n"))

WE, THE PEOPLE OF INDIA,
having solemly resolved to constitute India into a SOVEREIGN,!
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens